.container {
    width: 480px;
    margin: 40px auto;
}

h1 {
    font-size: 18px;
    border-bottom: 1px solid;
    margin: 16px 0;
    padding-bottom: 8px;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
}
